.about {
  color: #fafafa;
  font-size: 1.35rem;
}

.about h3 {
  font-size: 2rem;
  margin: 3rem 0 0.5rem 0;
}

.about p {
  line-height: 1.35;
}

.about a {
  color: #fafafa;
  border-bottom: 2px solid var(--primary-color);
  display: inline-block;
  margin-bottom: 0.2rem;
  padding-bottom: 0.05rem;
}
