.character-details .container {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height:600px) {
  .character-details .container  {
    height: auto;
    padding: 1.5rem 0;
  }
}

