.loader {
  width: 150px;
  height: 150px;
  background: transparent;
  margin: auto;
  border-radius: 50%;
  border: 1.5rem solid #333;
  border-top: 1.5rem solid var(--primary-color);
  animation: infinite rotate 2s linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
