.hamburger-button {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hamburger-button > div {
  height: 2px;
  width: 100%;
  background: var(--primary-color);
  align-self: center;
  position: relative;
  transition: transform 400ms ease;
}

.hamburger-button > div::before,
.hamburger-button > div::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  top: -9px;
  transition: top 400ms ease 400ms, transform 400ms ease;
}

.hamburger-button > div::after {
  top: 9px;
}

.hamburger-button[data-active='true'] > div {
  transform: rotate(45deg);
  transition: transform 400ms ease 400ms;
}

.hamburger-button[data-active='true'] > div::before,
.hamburger-button[data-active='true'] > div::after {
  transition: top 200ms ease, transform 400ms ease 400ms;

  top: 0;
  transform: rotate(90deg);
}


@media screen and (max-width:1024px) {
  .hamburger-button {
    display: flex;
  }
}