.hero {
  padding: 1rem 0;
}

.hero .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.hero .hero-image {
  width: 420px;
  height: auto;
}

.hero .hero-heading {
  color: #fafafa;
  font-size: 3rem;
  margin: 1rem 0;
}

.hero .hero-text {
  color: #fafafa;
  font-size: 2rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .hero .hero-image {
    width: 85%;
  }

  .hero .hero-heading {
    font-size: 2rem;
  }

  .hero .hero-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 768px) {
  .hero .hero-heading {
    font-size: 2.7rem;
  }

  .hero .hero-text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 480px) {
  .hero .hero-heading  {
    font-size: 1.5rem;
  }

  .hero .hero-text {
    font-size: 1.2rem;
  }
}
