.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  gap: 1.5rem;
  color: #fafafa;
}

@media screen and (max-width:300px){
  .card-container {
    grid-template-columns: 1fr;
  }
}