.universal-page .heading {
  padding-top: 2rem;
  color: #fafafa;
  font-size: 2.2rem;
  position: relative;
}

.universal-page .heading::after {
  content: '';
  width: 110%;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.universal-page .container {
  display: flex;
  flex-direction: column;
}

.universal-page .container .heading,
.universal-page .container .search-box {
  align-self: center;
}