a.card-link {
  text-decoration: none;
  color: blue;
}

.episode-card {
  background: #fafafa;
  padding: 0.5rem;
  height: 130px;
  /* max-width: 320px; */
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  color: #333;
  border-left: 1rem solid var(--primary-color);
  transition: border 400ms ease;
}

.episode-card:hover {
  border-left: 0rem solid var(--primary-color);
}

.episode-card .episode-info {
  padding-left: 0.35rem;
}

.episode-card .episode-info .episode-name {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
}

.episode-card .episode-info .episode-type {
  font-size: 1.15rem;
}

.episode-card .episode-info .episode-dimension {
  font-size: 1.15rem;
}

.episode-card .episode-info .episode-dimension::first-letter {
  text-transform: uppercase;
}