.not-found {
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found h1 {
  font-size: 10rem;
  color: rgb(149, 223, 40);
}

.not-found h2 {
  font-size: 4rem;
  color: rgb(149, 223, 40);
}

.not-found h3 {
  color: rgb(149, 223, 40);
  font-size: 1.5rem;
}